body {
	margin: 0;
	padding: 0;
}

th,td,
select,
label {
	font-family: Georgia;
	font-size: 14px;
}

.ui-widget {
  	font-family: Georgia;
	font-size: 14px;
}

h1 {
	font-family: Georgia;
	font-size: 20px;
}

#pagina {
	margin: 1em auto;
	width: 1200px;
}

#cabecalho {
	width: 1000px; 
}

#menu {
	width: 1000px; 
}

#esquerda {
	float: left;
	width: 180px;
	padding: 2px;
}

.conteudo {
	margin-left: 200px;
	margin-right: 191px;
	padding: 2px;
}

#adsense {
	float: right;
	width: 160px;
	padding: 2px;
}

#rodape {
	clear: both;
	padding: 2px;
	border-top: none;
	width: 800px; 
}

a:link.table, a:visited.table, a:active.table {
	font: bold 100%;
	text-decoration: none;
}

a:hover.imagem, a:hover.table {
	background: none;
}

a:hover {
}

td.center {
	text-align: center;	
}

div.center {
	text-align: center;
}

img {
	border: none
}

.erro {
}

.destaque {
	font-weight: bold;
}

.hidden {
	display: none;
}

.resultado {
	font-family: Courier New;
	font-size: 70%;
}

#pageOptions {
	float: right;
}